.login-container{
    margin-top: 8rem;
    font-family: 'popins',sans-serif;
}
.input-bg{
    background-color: #6ca2df;
    color: #dbd5d5;
    font-size: 0.9rem;
    height: 2.9rem;
    width: 10rem;
}
.form-control{
    width: 78vw;
    padding: 5px;
    
}

.custom-btn{
    padding: 0.6rem;
    border-radius: 5px;
    background-color: #0597f9;

}
.custom-btn-blue{
    border: 1px solid #0597f9;
    background-color:#0796f6 ;
    color: #fff;
}
.custom-btn-white{
    border: 1px solid #dee1e3;
    background-color:#feffff ;
    color: #000;
    padding: 5px;
}


@media only screen and (max-width: 450px){
   
    .login-container{
        margin-top: 2.5rem;
    }
    .card-body{
        padding-left:1.4rem ;
        padding-right:1.4rem ;
    }
    .card{
        border: none !important;
    }
    .shadow{
        box-shadow: none !important;
    }
}